.app-header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.app-header h1 {
    color: rgb(173, 173, 246);
}

.nav-link {
    color: white;
    padding: 15px;
}

.app-header div {
    color: rgb(173, 173, 246);
}

.cart-icon {
    width: 24px;
    height: 24px;
  }

  .cart-container {
    position: relative;
    display: inline-block;
}

.cart-num {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(173, 173, 246);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}