.product-card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 16px;
    width: 300px;
    margin: 30px 20px 20px 30px;
}

.product-card p {
    padding: 0px 40px 0px 40px;
}

.product-image {
    width: 280px;
}

.product-details-link {
    color: black;
    margin-bottom: 5px;
    display: block;
}

.product-details-link:hover {
    font-weight: bold;
}